


.title{
    margin: 15px 0px 5px 0px;
    font-family:  sans-serif;
    
}
.toptitle{
    transform: translate(-15px,0px);
    font-size: 20px;
    font-family:  sans-serif;
    color:#23395d ;
}
.namecheckbox{
    margin-left: 5px;
  
}
.form-check-input{
    color: gray;
    fill: gray;
}