.MuiListItem-button:hover{
    cursor:auto;

    
}
.MuiDataGrid-columnHeaders{
    background: #3e399a;
    color: white;
}
.histable{
    width:70%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.btnicons{
    /* background-color: red; */
    font-size: 25px;
    font-family:  sans-serif;
    color: #0c0c47;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:15px ;
}
.MuiDataGrid-toolbarContainer{
    display: flex;
    /* background-color: rebeccapurple; */
    justify-content: center;
}
.MuiDataGrid-toolbarFilterList{
    transform: translate(400px,10px);

}
.papertable{
    display: flex;
    justify-content: center;
    width: 100%;
   
}